.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: azure;
  margin-bottom: 10px;
}

.case-form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  padding: 20px;
}

.form-container h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.quotes {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-top: 24px;
}

.mobile-quote-container {
  background-color: white;
  color: black;
  margin-top: 64px;
}

input {
  color: black;
}

.form-control {
  color: black !important;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
  }
}

.btn-import {
  background-color: #007bff !important;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-import:hover {
  background-color: #0056b3;
}

.btn-upload {
  background-color: #28a745 !important;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-upload:hover {
  background-color: #218838 !important;
}
